html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #f2f2f2;
  font-family: 'Libre Baskerville', serif;
  color:#008fd1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  max-width: 40rem;
}

h2 {
  text-align: center;
  font-size: 1.6rem;
}
h3 {
  margin: 0;
  font-weight: 700;

}


/* HEADER */
.header {
  position: relative;
}
.hero {
  background-image: url('../img/image.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: #008fd1;
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 1rem 2rem;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  } 
}

.main-navigation {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.main-navigation a {
  color:#fff;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
}

@media(min-width: 768px) {
  .main-navigation {
    flex-direction: row;
    flex: 0 0 25rem;
    justify-content: space-between;
    margin-top: 0;
  }
}


.button {
  background-color: #008fd1;
  text-decoration: none;
  padding: .6rem 2rem;
  margin-top: 1rem;
  display: inline-block;
  color: white;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.entry {
  margin-bottom: 2rem;
  background-color: #ffffff;
}
@media (min-width:480px){
  .entry {
       flex: 0 0 calc(50% - 1rem);
  }
}
@media (min-width:768px){
  .entry {
       flex: 0 0 calc(33.3% - 1rem);
  }
}
.entry .content{
  
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.content h3 {
  font-size: .9rem;
  line-height: 1.5;
}
.content span {
  color: #db008d;
}

.categories ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories ul li {
  flex: 0 0 50%;
  padding: 2rem;

}



@media (min-width: 768px) {
  .categories ul li {
    flex: 0 0 25%;
  }
}

.categories ul li:nth-child(1){
  background-color: #008fd1;
}

.categories ul li:nth-child(2){
  background-color: #00d15e;
}

.categories ul li:nth-child(3){
  background-color: #ced100;
}

.categories ul li:nth-child(4){
  background-color: #d14d00;
}

.categories ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories ul li a i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.footer {
  background-color: #008fd1;
  padding: 1rem;
  color:#fff;
}

.footer h2 {
  text-transform: uppercase;
}


.footer p {
  line-height: 2;
}

@media(min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  .footer .box {
    flex: 0 0 calc(33.3% - 1rem);
  }
}

.footer ul {

}

.footer ul li{
  margin-bottom: 1rem;
}

.footer ul li a {
  color: #fff;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.social-nav {
  display: flex;
  justify-content: center;
}

.social-nav span {
  display: none;
}

.social-nav a::before {
  font-family:  'Font Awesome 5 Brands';
  color:#fff;
  font-size: 3rem;
}

.social-nav a[href="facebook.com"]::before {
  content: "\f39e";
}